{% extends 'compiler/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-md-8 col-lg-9 mx-auto">
            <div class="content-section pt-2 m-3 shadow-lg p-3">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom pb-2">
                            Post
                        </legend>
                        {{ form.media }}
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">

                        <button class="btn btn-outline-primary" type="submit"><i class="fas fa-upload"></i>
                            Upload</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}