{% extends 'compiler/base.html' %}
{% block content %}

{% for post in posts|slice:"1" %}

  
<div class="media mt-2">
  <img id="1" data-toggle="modal" class="article-img img-fluid icon" data-target="#myModal" src='{{ post.author.profile.image.url  }}' alt='' />

<!--  <a href="{{ file.author.profile.image.url  }}" target="_blank"><img src="{{ file.author.profile.image.url  }}" alt="" class="user-img   img-fluid"></a>-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="account-heading font-weight-bold text-dark text-center">{{ post.author }}</h4>
            </div>
            <div class="modal-body text-center">
                <img class="img-fluid" src="{{ post.author.profile.image.url  }}" width="300" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="media-body ">
    <h2 class="account-heading font-weight-bold ">{{ post.author }}</h2>
    <p class="font-weight-normal ">{{ post.author.email }}</p>
    
</div>
</div>


{% endfor %}
{% for post in posts %}
<div class="card  shadow mt-5">
        <div class="card-img px-3 py-2">
            <div class="d-flex">
                
                <img src="{{ post.author.profile.image.url  }}" alt="" class=" float-left img-fluid img-thumbnail rounded-circle icon">
        
                <h6 class="align-self-center pl-3 pt-1">{{post.author}}</h6>
                <div class="ml-auto">
                        <a href=" {% url 'post-update' post.id %} " class="btn btn-info">update</a>
                        <a href=" {% url 'post-delete' post.id %} " class="btn btn-danger">Delete</a>
                 
                </div>
                   </div>	
        </div>
        <div class="">
            <img src="{{ post.post.url }}" alt=""  class="img-fluid  " style="width:100%;height:100%">
        </div>
        <div class="p-3">
            <div class="py-1">
                <i class="fa fa-heart-o pr-2"></i>
            <i class="fa fa-comment-o pr-2"></i>
            <i class="fa fa-share-square-o pr-2"></i>
            <div class="caption p-0">
                    <p>
                            {{post.description}}     
                    </p>
            </div>
           
            <p class="font-weight-bold m-0">1,000 likes</p>
            
            <p class=" text-muted">view all 18 comment</p>
            </div>
            
            <div class="comment py-1">
                <p class="user-com"><span class="font-weight-bold ">Mitseh</span> Thank You!!</p>
            <p class="user-com"><span class="font-weight-bold ">New User</span> Awesome </p>
            <p class="com-time">10 hours ago</p>
            </div>
            
            
        </div>
        <div>
                <input type="text" class="form-control" placeholder="Add ur comment" style="border-radius: 0">
            </div>
    </div>
{% endfor %}






  


{% endblock content %}