body {
    background: linear-gradient(to right, #7f00ff, #e100ff);
}

ul {
    margin: 0;
}

h5 {
    color: #000;
}

h3 {
    color: #504f4f;
}

hr {
    border-bottom: 5px solid rgba(172, 0, 254, 0.9);
}

.my-bg {
    background: rgb(182, 192, 206);
}

.img {
    width: 100px;
    height: 100px;
}

.icon {
    width: 40px;
    height: 40px;
    border: 1px solid #00b4db;
    border-radius: 50px;
    overflow: hidden;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

#preOutput {
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    /* word-break: break-all;
    word-wrap: break-word;*/
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group {
    margin-bottom: 0.2rem;
}