{% extends 'compiler/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-md-6 col-lg-5 content-section mt-3 shadow-lg p-3 mx-auto">
            <form action="" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom pb-2">
                        Join Today Signup here
                    </legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Signup</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have an account?
                    <a href=" {% url 'login' %} " class="ml-2">Login</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock content %}